.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 17px;

  grid-template-areas:
    "t t t t t t t t t . . ."
    "t t t t t t t t t . . ."
    ". . . . . . . m m m m m"
    ". . . . . . . m m m m m"
    ". . . . . . . m m m m m"
    "f f f f . . . . l l l l"
    "f f f f . . . . l l l l";
    

}
/* other areas of the page */
.text-container{
    grid-area:t;
}

.linked-in{
  grid-area: l;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;

  background-color: rgba(55, 0, 218, 0.5);
  

  border-radius: 45px 0px 0px 45px;
}


.mail-to{
  grid-area: m;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  background-color: rgba(55, 0, 218, 0.5);

  border-radius: 45px 0px 0px 45px;
}

/* image styling */
.email{
    margin:20px;
    max-width: 100px;
  
 
}

.linkedin{
    margin:20px;
   max-width: 90px;
  
}

img{
    max-width:90px;
}


body{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
"wdth" 100,
    "YTLC" 500;
}

.text-container{
    margin-left: 100px;
}
h1{
    color: rgb(140, 140, 224)

}

h2{
color: rgba(83, 83, 223, 0.848);
font-size: 95px; 
align-self: center;
margin:0px;
padding: 0px;
line-height: 90px;


}

/* .container {
  display: flex;
  justify-content: space-between;
  align-items: right;
} */



h3{
    color:rgba(94, 84, 233, 0.721);
    font-size: 50px; 
    align-self: center;
    line-height: 100px;
    margin: 0px;
    padding: 0px;
}
h4{
       color: rgb(232, 217, 249);
       font-size: 30px;

}

h5{
       color: rgb(232, 217, 249);
       font-size: 27px;

}
li{
    color:rgba(127, 107, 209, 0.788);
}

a { 
    color:rgb(174, 153, 241);
}




body{
    background-image: url("Assets/boardfish.png");
    background-size: cover;
     cursor: url('Assets/fish3.svg'), auto;
}
svg{
    

    max-width: 60px;
    fill:rgb(254, 254, 254);
}
#dot{
    fill:rgb(162, 116, 255);
}
svg:hover{
    transform: scale(1.1);
    fill:rgb(129, 127, 243);
    #dot{
        fill:rgb(58, 140, 227);
    }

}

